# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
*.lock
!.metadata

# Generated
*.g.dart
*.freezed.dart

# Platform
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h

# Linux
linux/flutter/ephemeral/

# Misc
*.log
*.pyc
__pycache__/
.DS_Store
Thumbs.db
